@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(250 245 255)
}

/* set page-height to every page */
.page-Height{
  min-height: calc(100vh - 150px);
}
/*--------------------------------*/
/* set page-height to every page */
.articlesPage-Height{
  min-height: calc(100vh - 100px);
}
/*--------------------------------*/

/* set page-height to every page */
.articlesSection-Height{
  height: calc(100vh - 280px);
}
/*--------------------------------*/


/* set admin dashboard layout height */
.overflow-height{
  height: calc(100vh - 115px);
}
/*--------------------------------*/

/* set page-height */
.aboutPage-Height{
  height: calc(100vh - 115px);
}
/*--------------------------------*/


.disabled{
  cursor: not-allowed;
}


@media ( min-width : 1080px ){
  .menuBar{
      display: none;
    }
}

